{% extends 'base.html' %}


{% block titulo %}
    Agregar empleado
{% endblock titulo %}


{% block contenido %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Añadir Departamento</h1>
        <div class="cell">
            <form class="grid-x grid-margin-x" method="POST" >{% csrf_token %}
                <div class="cell large-6 ">
                    <label>Nombres:
                        {{form.nombre}}
                    </label>
                </div>
                <div class="cell large-6 ">
                    <label>Apellidos:
                        {{form.apellido}}
                    </label>
                </div>
                <div class="cell large-6 ">
                    <label>Departamento:
                        {{form.departamento}}
                    </label>
                </div>
                <div class="cell large-6 ">
                    <label>Trabajo:
                        {{form.shortName}}
                    </label>
                </div>
                <div class="cell">
                    <button type="submit" class="success button">Crear Departamento</button>
                </div>
            </form>
        </div>
        
    </div>
</div>


{% endblock contenido %}