{% extends 'base.html' %}


{% block titulo %}
    Eliminar empleado
{% endblock titulo %}
    

{% block contenido %}

{% include "includes/header.html" %}


<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Eliminar empleado: {{object.firstName}} - {{object.id}}</h1>
        <form class="cell" method="POST">{% csrf_token %}
            <div class="callout alert">
                <h5>Desea eliminar al empleado?</h5>
                <button type="submit" class="success button">Eliminar</button>
            </div>
            <!-- {{form.as_p}}

            <h3>Desea eliminar al empleado?</h3>
            <button type="submit" class="success button">Eliminar</button> -->
        </form>
    </div>
</div>

{% endblock contenido %}
