{% extends 'base.html' %}


{% block titulo %}
    ListaEmpleados
{% endblock titulo %}
    

{% block contenido %}

{% include "includes/header.html" %}
<div class="grid-container">
    
    <div class="grid-x">
        <h1 class="cell">Lista de empleados</h1>
        <div>
            <table>
                <thead>
                  <tr>
                    <th width="200">ID</th>
                    <th>NOMBRE</th>
                    <th width="150">APELLIDO</th>
                  </tr>
                </thead>
                <tbody>
                {% for i in empleados %}
                  <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.firstName}}</td>
                    <td>{{i.lastName}}</td>
                    <td>{{i.departamento}}</td>
                    <td><a class="button success" href="{% url 'empleados_app:actualizar' i.id %}">Actualizar</a></td>
                    <td><a class="button alert" href="{% url 'empleados_app:eliminar' i.id %}">Eliminar</a></td>
                  </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="cell">
        
        {% if is_paginated %}
            <nav aria-label="Pagination">
                <ul class="pagination text-center">
                {% if page_obj.has_previous %}
                <li class="pagination-previous "><a href="?page={{page_obj.previous_page_number}}">Atras</a></li>
                {% endif %}

                
                {% for pagina in paginator.page_range %}
                {% if pagina == page_obj.number %} 
                <li class="current"><span class="show-for-sr">You're on page</span> {{pagina}}</li>
                {% else %}
                <li><a href="?page={{pagina}}" aria-label="Page 2">{{pagina}}</a></li>
                {% endif %}   
                {% endfor %}
                
                {% if page_obj.has_next %}
                <li class="pagination-next"><a href="?page={{page_obj.next_page_number}}">Siguiente</a></li>
                {% endif %}

                </ul>
            </nav>
        {% endif %}
            
        <!-- <nav aria-label="Pagination">
            <ul class="pagination text-center">
              <li class="pagination-previous disabled">Previous</li>
              <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
              <li><a href="#" aria-label="Page 2">2</a></li>
              <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
            </ul>
        </nav> -->
    </div>
</div>

{% endblock contenido %}