{% extends 'base.html' %}


{% block title %}
    listarDepartamentos
{% endblock title %}


{% block contenido %}
    {% include 'includes/header.html' %}

    <div class = "grid-container">
        <div class="grid-x">
            <h1>Empleados por Area: {{Area}}</h1>
            <div class="cell">
                <table>
                    <thead>
                        <tr>
                          <th width="200">ID</th>
                          <th>NOMBRE</th>
                          <th width="150">APELLIDO</th>
                        </tr>
                    </thead>
                    <tbody>                       
                        {% for i in empAreas %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.firstName}}</td>
                            <td>{{i.lastName}}</td>
                            <td><a class="button warning" href="{% url 'empleados_app:empleadosInfo' i.id %}">Ver </a></td>
                        </tr>
                        {% endfor %}                           
                    </tbody>
                </table>
            </div>

        </div>

    </div>
{% endblock contenido %}

<!-- <h1>Listar por area</h1>


<ul>

    {% for i in empAreas %}
        <li>{{i}}</li>
    {% endfor %}

</ul> -->